@font-face {
    font-family: "Samim";
    src: url("../fonts/Samim-FD.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/Samim-FD.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("../fonts/Samim-FD.woff") format("woff"),
      /* Pretty Modern Browsers */ url("../fonts/Samim-FD.woff2") format("woff2"),
      /* Pretty Modern Browsers */ url("../fonts/Samim-FD.ttf") format("truetype");
    /* Safari, Android, iOS */
  }
  body,
  a,
  span,
  h1,
  h2,
  h3,
  h4,
  h6,
  h5,
  p,
  div,
  input::placeholder,
  label,
  button,
  li {
    font-family: "Samim" !important;
  }
  #about{
      direction: rtl;
      text-align:right;
  }
 .nav-tabs{
      direction: rtl !important;
  }
  .tab-content.row.justify-content-center{
      direction: rtl;
      text-align: right;
  }
  .speaker img{
      float: left;
  }
  #faq{
      text-align: right;
  }
.card-body{
    text-align: right;
}
.card-price{
    direction: rtl;
}
input::placeholder{
    text-align: right;
}
button.close{
    margin: 0 !important;
}
#ticket-type{
    direction: rtl;
}
textarea{
    text-align: right;
}
.form-row.justify-content-center{
    direction: rtl;
}
#footer{
    direction: rtl;
    text-align: right;
}
.footer-links li{
    position: relative;
}
.footer-links i{
    position: absolute;
    left: 0;
}
@media (max-width:991px){
    #mobile-nav ul{
        text-align: right;
        display:flex;
        flex-direction: column-reverse;
    }
}
.content-speakers{
    text-align: right;
}